body{
    background-color: cornsilk;
}

.vp20pc{
    border-style: solid;
    border-width: 5px;
    width: 20vw;
    height: 20vh;
    background-color:goldenrod;
    color: white;
    border: 1px black;
}

.vp20{
    border-style: solid;
    border-width: 5px;
    width: 20%;
    height: 20%;
    background-color:blue;
    color: white;
    border: 1px black;
}

/*Absolute values */
.auin{
    border-style: solid;
    border-width: 5px;
    width: 2in;
    height: 2in;
    background-color:goldenrod;
    color: white;
    border: 1px black;
}
.aucm{
    border-style: solid;
    border-width: 5px;
    width: 5cm;
    height: 5cm;
    background-color: blue;
    color: white;
    border: 1px black;
}
.aumm{
    border-style: solid;
    border-width: 5px;
    width: 20mm;
    height: 20mm;
    background-color: goldenrod;
    color: white;
    border: 1px black;
}
